@using Ordbog.Service.Models
@model Ordbog.App.Models.SearchModel;

@{
    ViewData["Title"] = "ordbog.ru - русско-датский и датско-русский онлайн словарь - russisk-dansk og dansk-russisk online ordbog";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <ol>
            @foreach (var article in @Model.SearchResult)
            {
                <li>@article.Word [@article.Transcription]</li>
            }
        </ol>
    </div>*@
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">

            <div id="custom-search-input">
                <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-info btn-md" onclick="addSymbolToSearchString('æ')">æ</button>
                    <button type="button" class="btn btn-info btn-md" onclick="addSymbolToSearchString('ø')">ø</button>
                    <button type="button" class="btn btn-info btn-md" onclick="addSymbolToSearchString('å')">å</button>
                </div>

                <div class="input-group col-md-12 pl-0 pr-0 pt-3">
                    @Html.TextBox("SearchString", null, new {@class = "form-control input-lg"})
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success btn-md margin-right ml-2">
                            <span class="glyphicon glyphicon-search">Поиск</span>
                        </button>
                    </span>
                </div>
                <br/>
                @if (Model != null)
                {
                    if (Model.SearchResult.Any())
                    {
                        foreach (var article in Model.SearchResult)
                        {
            <div class="card bg-light mb-3 ml-0">
                <div class="card-header"><strong>@article.Word</strong>  
                
                    @if (!String.IsNullOrEmpty(@article.Transcription))
                    {
                        <div>[@article.Transcription]</div>
                    }

                </div>
                

                @if (article.PartOfSpeech != PartOfSpeech.Undefined)
                {
                    <div>@article.PartOfSpeech</div>
                }

                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        
                        @if (article.Translations.Count > 0)
                        {
                            <ol>
                                @foreach (var t in article.Translations.ToList())
                                {
                                    <li>@t.Text</li>
                                }
                            </ol>
                        }
                    </p>
                    
                </div>
            </div>
                        }
                    }
                    else
                    {
                        <ul class="list-group list-group-flush">
                            @if (string.IsNullOrEmpty(Model.SearchString))
                            {
                                <li class="list-group-item">Введите строку для поиска</li>
                            }
                            else
                            {
                                <li class="list-group-item">по запросу "@Model.SearchString" ничего не найдено</li>
                            }
                        </ul>
                    }
                }

            </div>
        </div>
    </div>
}
